<footer class="wrapper site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer-description">
    <p>{{ site.description | escape }}</p>
  </div>

  <div class="footer-navigation">
    <div>
      <h3>Archive</h3>
      <ul>
        {% for category in site.categories %}
          {% assign slugified = category | first | slugify %}
          {% assign path = '/category/' %}
          <li>
            <a href="{{ '/category/' | append:slugified | append: /index.html | relative_url}}">
              {{- category | first -}}
            </a>
          </li>
        {% endfor %}

        <li>
          About 
        </li>
      </ul>
    </div>

    <div>
      <h3>Community</h3>
      <ul>
        <li>
          Community game night
        </li>
        <li>
          Guides
        </li>
        <li>
          Guides
        </li>
      </ul>
    </div>

    <div>
      <h3>Contributions</h3>
      <ul>
        <li>
          Campaign/Co-op
        </li>
        <li>
          Maps
        </li>
        <li>
          Mods
        </li>
      </ul>
    </div>

    <div>
      <h3>Contributing</h3>
      <ul>
        <li>
          Teams
        </li>
        <li>
          Association
        </li>
        <li>
          Patreon
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-links">
    {%- include components/brand.html -%}

    <div class="social-links">
      {%- include social.html -%}
    </div>
  </div>
</footer>
