<footer class="wrapper site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer-navigation">
    <div>
      <h3>Archive</h3>
      <ul>
        {% for category in site.categories %}
          {% assign slugified = category | first | slugify %}
          {% assign path = '/category/' %}
          <li>
            <a href="{{ '/category/' | append:slugified | append: /index.html | relative_url}}">
              {{- category | first -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3>Community</h3>
      <ul>
        {% for category in site.categories %}
          {% assign slugified = category | first | slugify %}
          {% assign path = '/category/' %}
          <li>
            <a href="{{ '/category/' | append:slugified | append: /index.html | relative_url}}">
              {{- category | first -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3>Contributing</h3>
      <ul>
        {% for category in site.categories %}
          {% assign slugified = category | first | slugify %}
          {% assign path = '/category/' %}
          <li>
            <a href="{{ '/category/' | append:slugified | append: /index.html | relative_url}}">
              {{- category | first -}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="footer-links">
    {%- include components/brand.html -%}
  </div>
</footer>
