<ul class="social-media-list">
  <li>
    <a
      href="https://www.twitch.tv/faflive"
      target="_blank"
      title="Twitch">
      <span class="svg-icon grey icon-twitch"></span>
    </a>
  </li>
  <li>
    <a
      href="https://x.com/FAFOfficial_"
      target="_blank"
      title="Twitter/X">
      <span class="svg-icon grey icon-twitter"></span>
    </a>
  </li>
  <li>
    <a
      href="https://www.youtube.com/channel/UChiCO27pbaXDR0d0JfxlIpw"
      target="_blank"
      title="YouTube">
      <span class="svg-icon grey icon-youtube"></span>
    </a>
  </li>
  <li>
    <a
      href="https://discord.gg/mXahVSKGVb"
      target="_blank"
      title="Discord">
      <span class="svg-icon grey icon-discord"></span>
    </a>
  </li>
</ul>
