{% comment %}
  Input parameters:
  - event: all information related to an event
{% endcomment %}

{% assign date_format = site.date_format | default: '%b %-d, %Y' %}

{%- if include.event.startsAt or include.event.endsAt -%}
  <span>

    {% assign startsAt = include.event.startsAt | date: date_format %}
    {% assign endsAt = include.event.endsAt | date: date_format %}

    {% comment %}
      Only show one date if they're both the same.
    {% endcomment %}

    {% if startsAt == endsAt %}
      {{ startsAt }}
    {%- else -%}

    {%- if include.event.startsAt -%}
      {{ include.event.startsAt | date: date_format }}
    {%- endif -%}

    {%- if include.event.startsAt and include.event.endsAt -%}
      <span> to </span>
    {%- endif -%}

    {%- if include.event.endsAt -%}
      {{ include.event.endsAt | date: date_format }}
    {%- endif -%}

    {% endif %}
  </span>
{%- endif -%}
