{% comment %}
  Input parameters:
  - event: all information related to an event
{% endcomment %}

{% assign date_format = site.date_format | default: '%b %-d, %Y' %}

{%- if include.event.dtstart or include.event.dtend -%}
  <span>

    {% assign dtstart = include.event.dtstart | date: date_format %}
    {% assign dtend = include.event.dtend | date: date_format %}

    {% comment %}
      Only show one date if they're both the same.
    {% endcomment %}

    {% if dtstart == dtend %}
      {{ dtstart }}
    {%- else -%}

    {%- if include.event.dtstart -%}
      {{ include.event.dtstart | date: date_format }}
    {%- endif -%}

    {%- if include.event.dtstart and include.event.dtend -%}
      <span> to </span>
    {%- endif -%}

    {%- if include.event.dtend -%}
      {{ include.event.dtend | date: date_format }}
    {%- endif -%}

    {% endif %}
  </span>
{%- endif -%}
