{% comment %}

  Input parameters:
  - url: the src attribute of the image
  - alt: the alt attribute of the image

  Related documentation:
  - https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
  - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture
  - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/source
  - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img

{% endcomment %}

{% assign assetsFolder = 'assets/thumbnails-wide/' %}

<picture>
  {% assign imagePath = assetsFolder | append: include.url %}
  
  {% comment %} AVIF {% endcomment %}

  <source
    media="(max-width: 960px)"
    srcset="{{ imagePath | avif: "240x135"  }}"
    type="image/avif"
  >
  <source
    media="(max-width: 1920px)"
    srcset="{{ imagePath | avif: "480x270"  }}"
    type="image/avif"
  >
  <source
    media="(max-width: 2560px)"
    srcset="{{ imagePath | avif: "960x540" }}"
    type="image/avif"
  >
    {% comment %} WEBP {% endcomment %}

  <source
    media="(max-width: 960px)"
    srcset="{{ imagePath | webp: "240x135"   }}"
    type="image/webp"
  >
  <source
    media="(max-width: 1920px)"
    srcset="{{ imagePath | webp: "480x270"  }}"
    type="image/webp"
  >
  <source
    media="(max-width: 2560px)"
    srcset="{{ imagePath | webp: "960x540" }}"
    type="image/webp"
  >

    {% comment %} JPG {% endcomment %}

    <source
    media="(max-width: 960px)"
    srcset="{{ imagePath | jpg: "240x135"  }}"
    type="image/jpeg"
  >
  <source
    media="(max-width: 1920px)"
    srcset="{{ imagePath | jpg: "480x270"  }}"
    type="image/jpeg"
  >
  <source
    media="(max-width: 2560px)"
    srcset="{{ imagePath | jpg: "960x540" }}"
    type="image/jpeg"
  >

  <img class="banner-image" src="{{ imagePath | relative_url }}" alt="{{include.alt}}" loading="lazy">
</picture>
