.social-media-list {
  display: table;
  margin: 0 auto;
  list-style: none;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type {
      margin-right: 0;
    }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover {
        border-color: $border-color-02;
      }
    }
  }
}

// .social-media-list &:hover {
//   text-decoration: none;

//   .username {
//     text-decoration: underline;
//   }
// }
