@use "skins/auto" as skin;
@use "mixins" as mixins;
@use "variables" as variables;

.social-media-list {
  
  list-style: none;
  li {
    float: left;
    margin: 4px;

    border: 1px solid transparent;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      border: 1px solid skin.$border-color-01;
    }

    a {
      display: block;
      padding: 4px;
      &:hover {
        border-color: skin.$border-color-02;
      }
    }
  }
}
