@charset "utf-8";

@use "dark";
@use "light";

// Mode selection, defaults to dark mode
// -------------------------------------

:root {
  --minima-brand-color: #{dark.$dm-brand-color};
  --minima-brand-color-light: #{dark.$dm-brand-color-light};
  --minima-brand-color-dark: #{dark.$dm-brand-color-dark};

  --minima-site-title-color: #{dark.$dm-site-title-color};

  --minima-text-color: #{dark.$dm-text-color};
  --minima-background-color: #{dark.$dm-background-color};
  --minima-card-background-color: #{dark.$dm-card-background-color};
  --minima-code-background-color: #{dark.$dm-code-background-color};

  --minima-link-base-color: #{dark.$dm-link-base-color};
  --minima-link-visited-color: #{dark.$dm-link-visited-color};
  --minima-link-hover-color: #{dark.$dm-link-hover-color};

  --minima-border-color-01: #{dark.$dm-border-color-01};
  --minima-border-color-02: #{dark.$dm-border-color-02};
  --minima-border-color-03: #{dark.$dm-border-color-03};

  --minima-table-text-color: #{dark.$dm-table-text-color};
  --minima-table-zebra-color: #{dark.$dm-table-zebra-color};
  --minima-table-header-bg-color: #{dark.$dm-table-header-bg-color};
  --minima-table-header-border: #{dark.$dm-table-header-border};
  --minima-table-border-color: #{dark.$dm-table-border-color};
}

@include dark.dm-highlight;

@media (prefers-color-scheme: light) {
  :root {
    --minima-brand-color: #{light.$lm-brand-color};
    --minima-brand-color-light: #{light.$lm-brand-color-light};
    --minima-brand-color-dark: #{light.$lm-brand-color-dark};

    --minima-site-title-color: #{light.$lm-site-title-color};

    --minima-text-color: #{light.$lm-text-color};
    --minima-background-color: #{light.$lm-background-color};
    --minima-card-background-color: #{light.$lm-card-background-color};
    --minima-code-background-color: #{light.$lm-code-background-color};

    --minima-link-base-color: #{light.$lm-link-base-color};
    --minima-link-visited-color: #{light.$lm-link-visited-color};
    --minima-link-hover-color: #{light.$lm-link-hover-color};

    --minima-border-color-01: #{light.$lm-border-color-01};
    --minima-border-color-02: #{light.$lm-border-color-02};
    --minima-border-color-03: #{light.$lm-border-color-03};

    --minima-table-text-color: #{light.$lm-table-text-color};
    --minima-table-zebra-color: #{light.$lm-table-zebra-color};
    --minima-table-header-bg-color: #{light.$lm-table-header-bg-color};
    --minima-table-header-border: #{light.$lm-table-header-border};
    --minima-table-border-color: #{light.$lm-table-border-color};
  }

  @include light.lm-highlight;
}

$brand-color: var(--minima-brand-color);
$brand-color-light: var(--minima-brand-color-light);
$brand-color-dark: var(--minima-brand-color-dark);

$site-title-color: var(--minima-site-title-color);

$text-color: var(--minima-text-color);
$background-color: var(--minima-background-color);
$code-background-color: var(--minima-code-background-color);
$card-background-color: var(--minima-card-background-color);

$link-base-color: var(--minima-link-base-color);
$link-visited-color: var(--minima-link-visited-color);
$link-hover-color: var(--minima-link-hover-color);

$border-color-01: var(--minima-border-color-01);
$border-color-02: var(--minima-border-color-02);
$border-color-03: var(--minima-border-color-03);

$table-text-color: var(--minima-table-text-color);
$table-zebra-color: var(--minima-table-zebra-color);
$table-header-bg-color: var(--minima-table-header-bg-color);
$table-header-border: var(--minima-table-header-border);
$table-border-color: var(--minima-table-border-color);
