@use "skins/auto" as skin;
@use "mixins" as mixins;
@use "variables" as variables;

html {
  font-size: variables.$base-font-size;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: variables.$base-font-weight #{variables.$base-font-size}/#{variables.$base-line-height} variables.$base-font-family;
  color: skin.$text-color;
  background-color: skin.$background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: variables.$spacing-unit * 0.5;
}

hr {
  margin-top: variables.$spacing-unit;
  margin-bottom: variables.$spacing-unit;
}

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: variables.$small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: variables.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: variables.$base-font-weight;
}

/**
 * Links
 */
a {
  color: skin.$link-base-color;
  text-decoration: none;

  &:visited {
    color: skin.$link-visited-color;
  }

  &:hover {
    color: skin.$link-hover-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: skin.$brand-color;
  border-left: 4px solid skin.$border-color-01;
  padding-left: variables.$spacing-unit * 0.5;
  @include mixins.relative-font-size(1.125);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i,
  em {
    font-style: normal;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-family: variables.$code-font-family;
  font-size: 0.9375em;
  border: 1px solid skin.$border-color-01;
  border-radius: 3px;
  background-color: skin.$code-background-color;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.highlight {
  border-radius: 3px;
  background: skin.$code-background-color;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: skin.$code-background-color;
  }
}

/**
 * Icons
 */

.orange {
  color: #f66a0a;
}

.grey {
  color: #828282;
}

.svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible;
}

/**
 * Tables
 */
table {
  margin-bottom: variables.$spacing-unit;
  width: 100%;
  text-align: variables.$table-text-align;
  color: skin.$table-text-color;
  border-collapse: collapse;
  border: 1px solid skin.$table-border-color;
  tr {
    &:nth-child(even) {
      background-color: skin.$table-zebra-color;
    }
  }
  th,
  td {
    padding: variables.$spacing-unit * 33.3333333333;
  }
  th {
    background-color: skin.$table-header-bg-color;
    border: 1px solid skin.$table-header-border;
  }
  td {
    border: 1px solid skin.$table-border-color;
  }
  @include mixins.media-query(variables.$on-laptop) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
