@use "skins/auto" as skin;
@use "mixins" as mixins;
@use "variables" as variables;

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid skin.$border-color-01;
  padding: variables.$spacing-unit 0;
}

.footer-navigation {
  grid-column: breakout-start / breakout-end;

  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.footer-links {
  grid-column: breakout-start / breakout-end;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.footer-navigation-container {

}

.footer-navigation-header {

}

.footer-navigation-list {
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-navigation-list-item {

}

.footer-navigation-list-item-link {
  display: flex;
  gap: 1ch;
}

.footer-navigation-list-item-link-text {

}

.footer-navigation-list-item-link-icon {
  margin-top: auto;
  margin-bottom: auto;
}