/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-description {
  grid-column: content-start / content-end;
  grid-row: 1;
}

.footer-navigation {
  grid-column: content-start / content-end;
  grid-row: 2;

  display: flex;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.footer-links {
  grid-column: breakout-start / breakout-end;
  grid-row: 3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}