@use "skins/auto" as skin;
@use "mixins" as mixins;
@use "variables" as variables;

/**
 * Site header
 */
.site-header {
  grid-column: breakout-start / breakout-end;

  display:flex;
  justify-content: space-between;

  // Positioning context for the mobile navigation icon
  position: relative;

  padding: 1em;
}

.site-header-title {
  @include mixins.relative-font-size(1.625);
  font-weight: 300;
  margin-bottom: 0;
  float: left;

  @include mixins.media-query(variables.$on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: skin.$site-title-color;
  }
}

.site-header-github {
  display: flex;
  gap: 1ch;
}

.site-header-github-link {
  @include mixins.relative-font-size(1.625);
}

.site-header-github-meta {
  display: none;

  @media screen and (min-width: variables.$on-medium) {
    display: flex;

    flex-direction: column;
    justify-content: center;
  
    gap: 2px;
  }
}

.site-header-github-meta-field {
  @include mixins.relative-font-size(0.8);
}