@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?x6cz1p");
  src: url("../fonts/icomoon.eot?x6cz1p#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?x6cz1p") format("truetype"),
    url("../fonts/icomoon.woff?x6cz1p") format("woff"), url("../fonts/icomoon.svg?x6cz1p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------------------------------------------------- */
/* When updating, override the following section and leave everything else   */
/* intact!                                                                   */

.icon-instagram:before {
  content: "\e906";
  color: #e4405f;
}
.icon-github:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e904";
  color: #f00;
}
.icon-twitch:before {
  content: "\e903";
  color: #6441a4;
}
.icon-x:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-patreon:before {
  content: "\e901";
  color: #f96854;
}
.icon-discord:before {
  content: "\e902";
  color: #7289da;
}
.icon-copy:before {
  content: "\e92c";
}
.icon-users:before {
  content: "\e972";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-deviantart:before {
  content: "\eaaa";
}