@use "skins/auto" as skin;
@use "mixins" as mixins;
@use "variables" as variables;

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Wrapper
 */
.wrapper {
  @extend %clearfix;

  display: grid;
  grid-gap: 1em 0;

  /** Desktop layout */
  @media (min-width: variables.$on-large) {
    // background-color: red;
    grid-template-columns: [page-start] 1fr [breakout-start] 200px [content-start] 4fr [content-end] 200px [breakout-end] 1fr [page-end];
  }

  /** Tablet layout */
  @media (min-width: variables.$on-medium) and (max-width: variables.$on-large) {
    // background-color: blue;
    grid-template-columns: [page-start] 0px [breakout-start] 200px [content-start] 4fr [content-end] 200px [breakout-end] 0px [page-end];
  }

  /** Phone layout */
  @media (max-width: variables.$on-medium) {
    // background-color: green;
    grid-template-columns: [page-start] 0px [breakout-start] 0px [content-start] 1fr [content-end] 0px [breakout-end] 0px [page-end];
  }


}

.wrapper-body {
  padding: 1em;
}
