.post-card {
  height: 100%;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--minima-border-color-01);
  border-radius: 4px;
  background-color: var(--minima-card-background-color);
}

// ------------------------------------------------------------------------- \\
// Debugging functionality

.post-debug-container {
  position: relative; /* Needed for absolute positioning of tooltip */
}

.post-debug-content {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.post-debug-container:hover .post-debug-content {
  opacity: 1;
  visibility: visible;
}