.post-regular-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;

  // mobile layout
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  margin: 0;
  list-style: none;
}

.post-regular-item-container {
  display: grid;
  grid-template-rows: 1fr;
}

.post-regular-text-container {
  display: block;
  padding: 1em;
}

.post-regular-header {
}

.post-regular-image-container {
  position: relative;

  overflow: hidden;
  /* Ensures excess image content is clipped */
  display: flex;
  justify-content: center;
  /* Center the image horizontally */
  align-items: center;
  /* Center the image vertically */

  aspect-ratio: 16 / 9;
  width: 100%;
}

.post-regular-image {
  border-radius: 5px;

  height: 100%;
  width: auto;
}

.post-regular-meta {
  font-size: $small-font-size;
  color: $brand-color;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  background-color: $background-color;
  border-radius: 5px;
}
