@use "skins/auto" as skin;
@use "mixins" as mixins;
@use "variables" as variables;

.post-small-item-list-container {
  grid-column: breakout-start / breakout-end;
  grid-row: 2/2;

  margin: 0;
  list-style: none;


  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;

  gap: 1em;
}

.post-small-item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5rem 1rem;
  
  height: 100%;

  &:focus-within {
    border: 1px solid var(--minima-border-color-02);
  }
}

.post-small-text-container {
  flex-grow: 3;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding-top: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.post-small-text-body-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem 1rem;
}

.post-small-header {
  margin: 0
}

.post-small-excerpt {
  margin: 0
}

.post-small-image-container {
  max-height: 200px;
  flex-basis: 400px;

  display: grid;
  overflow: hidden;
}

.post-small-image-picture {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.post-small-image-meta {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  margin: 0.5em;

  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
}

.post-small-image-meta-schedule {
  grid-column: 1/1;
  font-size: variables.$small-font-size;
  color: skin.$brand-color;

  padding: 0.5em;
  border-radius: 5px;

  align-self: start;
  justify-self: start;
  background: var(--minima-card-background-color);
}

.post-small-image-meta-actions {
  grid-column: 2/2;
}

.post-small-actions {
  display: flex;
  justify-content: end;

  padding: 1ch;
  gap: 1em;
}
