.post-small-item-list-container {
  grid-column: breakout-start / breakout-end;
  grid-row: 2/2;

  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;

  @media (min-width: $on-medium) {
    padding: 1em;
  }
}

.post-small-item-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5rem 1rem;
}

.post-small-text-container {
  display: flex;
  flex-direction: row;

  padding: 1em;

  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 400px;
}

.post-small-text-body-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
}

.post-small-header {
  margin: 0
}

.post-small-excerpt {
  margin: 0
}

.post-small-image-container {
  position: relative;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;

  // Keep the images of a given row the same size
  display: flex; 
  justify-content: center; 
  align-items: start; 
  overflow: hidden; 
}

.post-small-meta {
  font-size: $small-font-size;
  color: $brand-color;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  background-color: $background-color;
  border-radius: 5px;
}

.post-small-actions {
  display: flex;
  justify-self: end;
  flex-direction: column;

  padding: 1ch;
  gap: 1em;
}
