.post-small-container {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  grid-column: breakout-start / breakout-end;
  grid-row: 2/2;
}

.post-small-item-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr min-content;

  @media screen and (max-width: $on-medium) {
    grid-template-rows: 200px 1fr min-content;
    grid-template-columns: 1fr;
  }
}

.post-small-text-container {
  display: block;
  padding: 1em;
}

.post-small-header {
}

.post-small-image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.post-small-picture {
  overflow: hidden;
  /* Ensures excess image content is clipped */
  display: flex;
  justify-content: center;
  /* Center the image horizontally */
  align-items: center;
  /* Center the image vertically */

  object-fit: cover;
  object-position: center;

  aspect-ratio: 1/1;
  width: 100%;

  @media screen and (max-width: $on-medium) {
    aspect-ratio: 16 / 9;
  }
}

.post-small-image {
  border-radius: 5px;

  height: 100%;
  width: auto;

  object-fit: cover;
  object-position: center;
}

.post-small-meta {
  font-size: $small-font-size;
  color: $brand-color;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  background-color: $background-color;
  border-radius: 5px;
}

.post-small-actions {
  display: flex;
  padding: 1ch;
  flex-direction: column;
  gap: 1em;
}