{% comment %} 

References:

- https://developer.x.com/en/docs/x-for-websites/cards/overview/summary

{% endcomment %}

{% assign title = page.title | default: site.title %}
{% assign description = page.excerpt | default: site.description | strip_html %}

{% comment %} TODO: for Twitter cards the images should always be a square. {% endcomment %}
{% assign image = page.image.path | default: "assets/images/default/default-card-image.png" | webp: "960x540"  | absolute_url %}
{% assign image_alt = page.image.alt | default: "TODO: some alternative description of the default image" %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@FAFOfficial_" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ image }}" />
<meta name="twitter:image:alt" content="{{ image_alt }}" />
