{% comment %}
  Input parameters:
  - post: an instance of a post
{% endcomment %}

{% assign path = 'assets/thumbnails-wide/' %}
{% assign date_format = site.minima.date_format | default: '%b %-d, %Y' %}

<a class="post-regular-item-container  post-card" href="{{ include.post.url | relative_url }}">
  <div class="post-regular-image-container">
    <picture>
      {% assign imagePath = path | append: include.post.thumbnail %}
      <source
        media="(max-width: 960px)"
        srcset="{{ imagePath | resize: "240x135>" }}"
      >
      <source
        media="(max-width: 1920px)"
        srcset="{{ imagePath | resize: "480x270>" }}"
      >
      <source
        media="(max-width: 2560px)"
        srcset="{{ imagePath | resize: "960x540>" }}"
      >
      <img class="post-regular-image" src="{{ imagePath | relative_url }}">
    </picture>

    {%- if include.post.event -%}
      <span class="post-regular-meta">
        {% include post/event/schedule.html event=include.post.event %}
      </span>
    {%- endif -%}
  </div>
  <div class="post-regular-text-container">
    <h3 class="post-regular-header">{{ include.post.title | escape }}</h3>

    {% comment %}
      We can only support so many characters in the overview, therefore we truncate it.
    {% endcomment %}

    <span class="post-regular-excerpt">
      {{ include.post.excerpt | truncate: 400 }}
    </span>
  </div>
</a>
