{% comment %}
  Input parameters:
  - post: an instance of a post
{% endcomment %}

<a class="post-regular-item-container  post-card" href="{{ include.post.url | relative_url }}">
  <div class="post-regular-image-container">
    {% include components/thumbnail.html path=include.post.path alt=include.post.alt %}

    {%- if include.post.event -%}
      <span class="post-regular-meta">
        {% include post/event/schedule.html event=include.post.event %}
      </span>
    {%- endif -%}
  </div>
  <div class="post-regular-text-container">
    <h3 class="post-regular-header">{{ include.post.title | escape }}</h3>

    {% comment %}
      We can only support so many characters in the overview, therefore we truncate it.
    {% endcomment %}

    <span class="post-regular-excerpt">
      {{ include.post.excerpt | strip_html | truncate: 400 }}
    </span>
  </div>
</a>
