{% comment %}
  Input parameters:
  - post: an instance of a post
{% endcomment %}

{% assign path = 'assets/thumbnails-wide/' %}

<div class="post-small-item-container post-card">
  <div class="post-small-image-container">
    {% assign thumbnail = include.post.thumbnails | first  %}
    {% include components/thumbnail.html file=thumbnail.file alt=thumbnail.alt %}

    {%- if include.post.event -%}
      <span class="post-regular-meta">
        {% include post/event/schedule.html event=include.post.event %}
      </span>
    {%- endif -%}
  </div>

  <div class="post-small-text-container">
    <h3 class="post-small-header">{{ include.post.title | escape }}</h3>

    {% comment %}
      We can only support so many characters in the overview, therefore we truncate it.
    {% endcomment %}

    <span class="post-small-excerpt"> {{ include.post.excerpt | truncate: 300 }} </span>
  </div>

  <div class="post-small-actions">
    {% include components/url-button.html href=include.post.redirectURL %}
    {% include components/copy-button.html data=include.post.redirectURL %}
  </div>
</div>
