{% comment %}
  Input parameters:
  - post: an instance of a post
{% endcomment %}

{% assign path = 'assets/thumbnails-square/' %}
{% assign date_format = site.minima.date_format | default: '%b %-d, %Y' %}

<a class="post-small-item-container" href="{{ include.post.url | relative_url }}">
  <div class="post-small-image-container">
    <img class="post-small-image" src="{{ path | append: include.post.thumbnail | relative_url }}">
    <span class="post-small-meta">{{ include.post.date | date: date_format }}</span>
  </div>
  <div class="post-small-text-container">
    <h3 class="post-small-header">{{ include.post.title | escape }}</h3>

    {% comment %}
      We can only support so many characters in the overview, therefore we truncate it.
    {% endcomment %}

    <span class="post-small-excerpt"> {{ include.post.excerpt | truncate: 300 }} </span>
  </div>
</a>
